<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- 注解扫描 Spring Bean -->
	<context:component-scan base-package="com.ssj.manage.biz.**.controller">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- SpringMVC注解驱动 -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<ref bean="stringHttpMessageConverter" />
		</mvc:message-converters>
		<mvc:argument-resolvers>
			<!-- 增加对于pageable接口的支持 -->
			<bean class="org.springframework.data.web.PageableHandlerMethodArgumentResolver" />
		</mvc:argument-resolvers>
	</mvc:annotation-driven>

	<!-- 设置编码格式 -->
	<bean id="stringHttpMessageConverter"
		class="org.springframework.http.converter.StringHttpMessageConverter">
		<constructor-arg value="UTF-8" index="0"></constructor-arg>
		<!-- 避免出现乱码 -->
		<property name="supportedMediaTypes">
			<list>
				<value>text/plain;charset=UTF-8</value>
				 <value>text/html;charset=UTF-8</value>  
			</list>
		</property>
	</bean>

	<mvc:default-servlet-handler />

	<!--<mvc:view-controller path="/" view-name="redirect:/business/login.html" />-->
	<mvc:view-controller path="/" view-name="redirect:/swagger/index.html" />

	<!-- 视图解析器 常用的还有 VelocityViewResolver、FreeMarkerViewResolver -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="order" value="0"></property>
		<property name="prefix" value="/WEB-INF/pages/"></property>
		<property name="suffix" value=".html" />
	</bean>

	<!-- 资源映射 -->
	<mvc:resources location="/WEB-INF/css/" mapping="/css/**" />
	<mvc:resources location="/WEB-INF/js/" mapping="/js/**" />
	<mvc:resources location="/WEB-INF/plupload/" mapping="/plupload/**" />
	<mvc:resources location="/WEB-INF/fonts/" mapping="/fonts/**" />
	<mvc:resources location="/WEB-INF/images/" mapping="/images/**" />
	<mvc:resources mapping="/swagger/**" location="/WEB-INF/swagger/" />
	<mvc:resources location="/WEB-INF/pages/" mapping="/**" />

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

</beans>
